.homepage {
    height: 100%;
	display: flex;
	color: #444;

	p {
		line-height: 1.6em;
	}

	section.intro {

		h1 {
			font-size: 3rem;
			font-weight: bold;
		}
	}

	section {
		position: relative;
		border-right: 1px solid #ccc;
		overflow-y: auto;

		h2 {
			font-size: 3rem;
		}
	}

	section.dawnguide {
		footer {
			width: 100%;
			height: 200px;
			background-image: url(/images/dawnguide-footer.svg);
			background-size: 100% auto;
			opacity: 0.7;
		}
	}

	section.little {
		ul {
			margin-left: 0;
		}

		li {
			line-height: 1.5em;
			margin-bottom: 1.5rem;
		}

		footer {
			display: flex;
			justify-content: center;
		}

		footer img {
			width: 48px;
			height: 48px;
			filter: sepia(100%);
			opacity: 0.5;
			margin-right: 0.5rem;	
			margin-left: 0.5rem;	
		}
	}

	section footer {
		div:first-child {
			display: flex;
			align-items: center;
			margin-bottom: 1.6em;

			a:first-child {
				margin: 0;
				margin-right: 0.5rem;
			}

			a {
				margin-left: 0.5rem;
			}

			.HeartButton {
				margin-left: auto;
			}
		}

		p:last-child {
			opacity: 0.8;
			font-size: 1.1rem;
		}
	}

	section.sunflowerSection {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}


	// section:not(.cover), footer {
	// 	width: 100%;
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;		

	// 	margin-top: 3em;
	// 	border-top: 1px solid #ccc;
	// 	padding-top: 3em;
	// }
}

.sunflower canvas {
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}

@media (min-width: 901px) {
	.homepage {
		section:not(.sunflowerSection) {
			min-width: 500px;
			max-width: 500px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
	
			> div {
				padding: 2rem;
				overflow-y: auto;
			}
		}
	
		section.intro footer {
			padding: 2rem;
		}
	
		section.little footer {
			padding: 2rem 0;
		}
	
		section.sunflowerSection {
			flex-grow: 1;
	
			.sunflower {
				width: calc(100% - 3rem);
				max-width: 20vw;
				height: 100%;
				display: flex;
				align-items: center;
			}
		}	
	}
}

@media (max-width: 900px) {
	.homepage {
		display: block;

		section {
			border-right: none;
			padding: 2rem;
			padding-bottom: 0;
		}
	
		section footer {
			padding: 0 !important;
		}
	
		section.intro footer {
			position: static;
		}
	
		section:not(.intro) footer {
			display: none !important;
		}
	
		section.sunflowerSection {
			display: none !important;
		}	
	}
}

.HeartButton {
	width: 1em;
}