@import '~normalize.css/normalize.css';

html, body {
	height: 100%;
	margin: 0;
	font: 400 16px/1.55em -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, sans-serif;
	color: #50585D;
}

html {
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

@media (max-height: 800px) {
	html {
		font-size: 1.75vh;
	}
}

@media (max-width: 900px) {
	html {
		font-size: 14px;
	}
}

body {
	font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: 'Open Sans',sans-serif;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color: inherit;
}

h3 {
	font-size: 1.6em;
	line-height: 1.2em;
	letter-spacing: -1px;
	text-indent: -2px;	
}

a {
	text-decoration: none;
    color: #f5aa44;	
}

a:hover {
    text-decoration: underline;
    color: #f5aa44;	
}

img.profile {
    width: 120px;
}

time {
	color: rgba(0,0,0,.7);
	font-family: 'Open Sans',sans-serif;
	font-size: 0.8em;
}

p {
	margin: 0;
	margin-block-end: 1.6em;
	line-height: 1.4em;
}

.LinksPage {
	font-size: 1rem;

	h1 {
		margin-bottom: 1.5rem;
	}

	h2 {
		text-transform: lowercase;
		color: #333;
		opacity: 0.8;
		font-size: 1rem;
	}

	article {
		padding-top: 30px;
		padding-left: 3vw;
		padding-right: 3vw;
	}

	article > div {
		display: flex;
		justify-content: space-between;
	}

	li {
		line-height: 1.5em;
		margin-bottom: 0.3em;
	}
}